<div class="Jumbotron Jumbotron--dark u-textCenter">
  <div class="Container">
    <h1 class="Jumbotron-title"><%= title %></h1>
    <p class="u-textLead"><%= description %></p>
    <% if (locals.cta) { %>
      <p>
        <a href="<%= cta.url %>" class="Button Button--primary"><%= cta.label %></a>
      </p>
    <% } %>
  </div>
</div>

<article class="BodyText u-cf">
  <div class="Container">
    <div class="ColumnedText">
      <%- yield %>
    </div>
  </div>
</article>

<% if (locals.gallery) { %>
  <ul class="GalleryBar GalleryBar--narrow">
    <% for (var image in gallery) { %>
      <li class="GalleryBar-item">
        <img class="js-lazyload"
             data-src="images/<%= gallery[image].src %>"
             alt="<%= gallery[image].alt %>"
             width="<%= gallery[image].width %>"
             height="<%= gallery[image].height %>">
      </li>
    <% } %>
  </ul>
<% } %>

<div class="Jumbotron Jumbotron--shadeUp Jumbotron--light Jumbotron--narrow u-textCenter">
  <div class="Container" data-scroll="toggle(.fromLeftIn, .fromLeftOut)">
    <h3 class="Jumbotron-title">Receive our occassional newsletter</h3>
    <%- partial("../_partials/newsletter-form") %>
  </div>
</div>
